        <div class="main-inner">
            <div class="content">
                <div class="mt-150">
    <div class="hero-image">
    <div class="hero-image-inner" style="height:680px;background-image: url('assets/img/homecover.jpg');">
        <div class="hero-image-content">
            <div class="container">
                <!--  -->
            </div><!-- /.container -->
        </div><!-- /.hero-image-content -->
    </div><!-- /.hero-image-inner -->
</div><!-- /.hero-image -->

</div>
<br><br><br><br><br>
<div class="container">
    <center><h1>About Us</h1></center>
    <center><h4 style="line-height:150%;">Sahayak will work forward in the field of work-distribution and monitoring deployment of manpower by contractors and union head via selling services to public through bhamashah.
We have read about Monitoring agency which have the responsibility of ensuring manpower deployment via various means. However actual tracking of the people working in residential/ industrial/ government project is very difficult. Mainly one has to depend on contractors, manpower reports, which may not be factual or accurate.
There is dynamic counting of vacancies of a particular service at a particular place which is publically available.
We will be focusing on deployment in skilled/ semi-skilled/ unskilled/ helper sector with heats map generating query system to analyze big data from Bhamashah.
  <br><br>
<h3>Come lets empower others</h3></h4></center>
</div><!-- /.container -->

            </div><!-- /.content -->
        </div><!-- /.main-inner -->
