<ng-map zoom="11" center="[26.9039792, 75.8018831]">
    <shape id="circle" name="circle" centered="true"
      stroke-color='#FF0000' stroke-opacity="1"stroke-weight="2"
      center="current-position" radius="100" editable="false" ></shape>
      <shape id="circle" name="circle" centered="true"
      stroke-color='#FF0000' stroke-opacity="1"stroke-weight="2"
      center="[26.911886, 75.819056]" radius="100" editable="false" ></shape>
      <shape id="circle" name="circle" centered="true"
      stroke-color='#FF0000' stroke-opacity="1"stroke-weight="2"
      center="[26.909437, 75.781033]" radius="100" editable="false" ></shape>
      <shape id="circle" name="circle" centered="true"
      stroke-color='#FF0000' stroke-opacity="1"stroke-weight="2"
      center="[26.891400, 75.775195]" radius="100" editable="false" ></shape>
      <shape id="circle" name="circle" centered="true"
      stroke-color='#FF0000' stroke-opacity="1"stroke-weight="2"
      center="[26.869031, 75.806283]" radius="100" editable="false" ></shape>
</ng-map>