        <div class="main-inner">
            <div class="container">
                <div class="row">

    <div class="document-title">
        <h1>Services</h1>

        <ul class="breadcrumb">
        </ul>
    </div><!-- /.document-title -->



                    <div class="col-sm-12 col-lg-12">
                        <div class="content">
                            <form class="filter" method="post" action="?">
    <div class="row">
        <div class="col-sm-12 col-md-4">
            <div class="form-group">
                <input type="text" placeholder="Keyword" class="form-control">
            </div><!-- /.form-group -->
        </div><!-- /.col-* -->

        <div class="col-sm-12 col-md-4">
            <div class="form-group">
                <input type="text" placeholder="Location" class="form-control">
            </div><!-- /.form-group -->
        </div><!-- /.col-* -->

        <div class="col-sm-12 col-md-4">
            <button style="width:100%;" type="submit" class="btn btn-primary">Redefine Search Result</button>
        </div><!-- /.col-* -->
    </div><!-- /.row -->

    <hr>

    <div class="row">
        <div class="col-sm-8">
            <div class="filter-actions">
                <a href="#"><i class="fa fa-close"></i> Reset Filter</a>
                <a href="#"><i class="fa fa-save"></i> Save Search</a>
            </div><!-- /.filter-actions -->
        </div><!-- /.col-* -->
    </div><!-- /.row -->
</form>
<div class="row">
<div class="col-sm-12 col-lg-12">
                        <div class="sidebar">
                            <div class="widget">
    <h2 class="widgettitle">Recent Listings</h2>
    <div class="row">
        <div class="cards-small col-md-4 col-sm-12" ng-repeat="service in services">
            <div class="card-small">
                <div class="card-small-image">
                    <a href="listing-detail.html">
                        <img src="assets/img/service.jpg">
                    </a>
                </div><!-- /.card-small-image -->

                <div class="row" style="margin-top:12px;">
                    <div style="margin-left:0px;" class="col-md-4 card-small-content">
                        <h3><a href="listing-detail.html">{{ service.name }}</a></h3>
                        <h4><a href="listing-detail.html">{{ service.type }}</a></h4>

                        <div class="card-small-price">Rs. {{ service.rate }}</div>
                    </div><!-- /.card-small-content -->
                    <div class="col-md-2">
                    <button class="btn btn-primary">Book</button>
                    </div>
                </div>
            </div><!-- /.card-small -->
        </div><!-- /.cards-small -->
    </div>
</div><!-- /.widget -->




                        </div><!-- /.sidebar -->
                    </div><!-- /.col-* -->
                  </div>

<div class="pager">
    <ul>
        <li><a href="#">Prev</a></li>
        <li><a href="#" class="active">1</a></li>
        <li><a href="#">Next</a></li>
    </ul>
</div><!-- /.pagination -->


                        </div><!-- /.content -->
                    </div><!-- /.col-* -->


                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /.main-inner -->
